# Imports

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('./data/disney_princess_popularity_dataset_300_rows.csv')

In [4]:
data.head()

,PrincessName,FirstMovieTitle,FirstMovieYear,MovieRuntimeMinutes,NumberOfSongs,HasSoloSong,HasDuet,HairColor,EyeColor,OutfitPrimaryColor,...,RottenTomatoesScore,BoxOfficeMillions,AvgScreenTimeMinutes,NumMerchItemsOnAmazon,GoogleSearchIndex2024,InstagramFanPages,TikTokHashtagViewsMillions,Top3Hashtags,IsIconic,PopularityScore
0,Pocahontas,Pocahontas's Adventure,1977,85,4,No,Yes,Brown,Green,Pink,...,88,661,25,2524,68,298,481,#TeamPocahontas #LovePocahontas #PocahontasFor...,Yes,88
1,Mulan,Mulan's Adventure,1995,85,1,Yes,Yes,Blonde,Brown,Purple,...,91,688,52,4202,49,133,619,#TeamMulan #LoveMulan #MulanForever,Yes,78
2,Raya,Raya's Adventure,1989,110,4,No,No,Blonde,Hazel,Pink,...,76,790,54,525,68,129,230,#TeamRaya #LoveRaya #RayaForever,No,53
3,Anna,Anna's Adventure,1940,78,1,No,No,Brown,Grey,Green,...,70,820,42,1951,73,138,697,#TeamAnna #LoveAnna #AnnaForever,Yes,84
4,Mulan,Mulan's Adventure,1943,103,7,No,Yes,White,Brown,Green,...,86,996,55,3958,34,155,200,#TeamMulan #LoveMulan #MulanForever,Yes,71

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   PrincessName                300 non-null    object
 1   FirstMovieTitle             300 non-null    object
 2   FirstMovieYear              300 non-null    int64
 3   MovieRuntimeMinutes         300 non-null    int64
 4   NumberOfSongs               300 non-null    int64
 5   HasSoloSong                 300 non-null    object
 6   HasDuet                     300 non-null    object
 7   HairColor                   300 non-null    object
 8   EyeColor                    300 non-null    object
 9   OutfitPrimaryColor          300 non-null    object
 10  OutfitStyleEra              300 non-null    object
 11  IsRoyalByBirth              300 non-null    object
 12  HasAnimalSidekick           300 non-null    object
 13  SidekickType                230 non-null    object
 14  HasMagicalPowers            300 non-null    object
 15  MagicType                   247 non-null    object
 16  MainSetting                 300 non-null    object
 17  IsBasedOnRealStory          300 non-null    object
 18  CulturalOrigin              300 non-null    object
 19  SpeaksToAnimals             300 non-null    object
 20  FightsVillainDirectly       300 non-null    object
 21  RomanticSubplot             300 non-null    object
 22  MarriedByEnd                300 non-null    object
 23  VillainName                 300 non-null    object
 24  VillainType                 253 non-null    object
 25  IMDB_Rating                 300 non-null    float64
 26  RottenTomatoesScore         300 non-null    int64
 27  BoxOfficeMillions           300 non-null    int64
 28  AvgScreenTimeMinutes        300 non-null    int64
 29  NumMerchItemsOnAmazon       300 non-null    int64
 30  GoogleSearchIndex2024       300 non-null    int64
 31  InstagramFanPages           300 non-null    int64
 32  TikTokHashtagViewsMillions  300 non-null    int64
 33  Top3Hashtags                300 non-null    object
 34  IsIconic                    300 non-null    object
 35  PopularityScore             300 non-null    int64
dtypes: float64(1), int64(11), object(24)
memory usage: 84.5+ KB